ul {
  list-style: none;
}

.title {
  font-size: 40px;
  margin-left: 10px;
}

.feedback-btns {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.feedback-btn {
  border: 1px grey solid;
  font-size: 20px;
  padding: 15px;
  width: 100px;
  background-color: bisque;
}

.feedback-btns > li:first-child > .feedback-btn {
  background-color: lightgreen;
}

.feedback-btns > li:nth-child(2) > .feedback-btn {
  background-color: lightblue;
}

.feedback-btns > li:last-child > .feedback-btn {
  background-color: lightcoral;
}

.stats {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  font-size: 25px;
}
.notification {
  font-size: 25px;
  margin-left: 10px;
}
